/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fonte Rebellion */
  @font-face {
    font-family: 'Rebellion';
    src: url('/assets/fonts/Rebellion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* Fonte Trattorian (Constellation Style) */
  @font-face {
    font-family: 'Trattorian';
    src: url('/assets/fonts/Trattorian2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
