# docker-compose.override.yml
services:
  auth-service:
    # volumes:
    #   - ./services/auth/auth.db:/app/prisma/auth.db:rw
    volumes:
      - ./services/auth:/app
      - /app/node_modules
      - auth_data:/app/data
    environment:
      - PRISMA_STUDIO=1
      - PRISMA_STUDIO_PORT=5001
    ports:
      - "3001:3001"
      - "5001:5001"  # Auth service Studio

  chat-service:
    volumes:
      - ./services/chat:/app
      - /app/node_modules
      - chat_data:/app/data
    environment:
      - PRISMA_STUDIO=1
      - PRISMA_STUDIO_PORT=5002
    ports:
      - "3003:3003"
      - "5002:5002"  # Chat service Studio

  user-service:
    volumes:
      - ./services/user:/app
      - /app/node_modules
      - user_data:/app/data
      - user_avatars:/app/avatars
    environment:
      - PRISMA_STUDIO=1
      - PRISMA_STUDIO_PORT=5004
    ports:
      - "3004:3004"
      - "5004:5004"  # User service Studio