
services:

  # Frontend Builder
  frontend-builder:
    container_name: transcendence_frontend_builder
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - frontend_dist:/app/dist
    environment:
      - NODE_ENV=local
      - VITE_API_URL=https://starcendence.dev
      - VITE_WS_URL=wss://starcendence.dev/ws

  frontend-dev:
    container_name: transcendence_frontend_dev
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    command: npm run dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost:3001
      - VITE_WS_URL=ws://localhost:3001/ws
    networks:
      - transcendence_network

  # Reverse Proxy (HTTP redirect + HTTPS)
  nginx:
    container_name: transcendence_nginx
    build:
      context: ./infrastructure/nginx
      dockerfile: Dockerfile
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - frontend_dist:/var/www/html
      - user_avatars:/services/user/avatars:ro
    networks:
      - transcendence_network
    secrets:
      - ssl_certificate
      - ssl_private_key
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - frontend-builder

  # Cloudflare Tunnel (cloudflare profile)
  cloudflared:
    container_name: transcendence_cloudflared
    image: cloudflare/cloudflared:latest
    command: tunnel --origincert /run/secrets/cloudflare_origin_cert --credentials-file /run/secrets/cloudflare_tunnel_credentials --url http://nginx:80 run ft_transcendence
    secrets:
      - cloudflare_tunnel_credentials
      - cloudflare_origin_cert
    networks:
      - transcendence_network
    restart: unless-stopped
    depends_on:
      - nginx
    profiles: ["tunnel"]

  # Auth Microservice
  auth-service:
    container_name: transcendence_auth
    build:
      context: ./services/auth
      dockerfile: Dockerfile
    # volumes:
    #   - auth_data:/app/data
    networks:
      - transcendence_network
    secrets:
      - internal_api_key
      - jwt_secret
      - google_client_id
      - google_client_secret
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  # # Game Microservice  
  # game-service:
  #   container_name: transcendence_game
  #   build:
  #     context: ./services/game
  #     dockerfile: Dockerfile
  #   volumes:
  #     - game_data:/app/data
  #   networks:
  #     - transcendence_network
  #   secrets:
  #     - redis_password
  #   environment:
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #   depends_on:
  #     - redis
  #   restart: always

  # # Chat Microservice
  # chat-service:
  #   container_name: transcendence_chat
  #   build:
  #     context: ./services/chat
  #     dockerfile: Dockerfile
  #   volumes:
  #     - chat_data:/app/data
  #   networks:
  #     - transcendence_network
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #   restart: always

  # # User Microservice
  user-service:
    container_name: transcendence_user
    build:
      context: ./services/user
      dockerfile: Dockerfile
    volumes:
      - user_data:/app/data
      - ${HOME}/data/frontend/assets/images:/app/seed-images:ro
    networks:
      - transcendence_network
    secrets:
      - internal_api_key
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  # # WebSocket Microservice
  # websocket-service:
  #   container_name: transcendence_websocket
  #   build:
  #     context: ./services/websocket
  #     dockerfile: Dockerfile
  #   networks:
  #     - transcendence_network
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #   restart: always

  # Redis Cache
  redis:
    container_name: transcendence_redis
    build:
      context: ./infrastructure/redis
      dockerfile: Dockerfile
    ports:
      - "23111:6379"
    volumes:
      - redis_data:/data
    networks:
      - transcendence_network
    secrets:
      - redis_password
    restart: unless-stopped

  prometheus:
    container_name: transcendence_prometheus
    image: prom/prometheus:latest
    volumes:
      - prometheus_data:/prometheus
      - ./infrastructure/monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - transcendence_network
    restart: always
  
  grafana:
    image: grafana/grafana:latest
    container_name: transcendence_grafana
    ports:
      - "3000:3000"
    volumes:
      - ./infrastructure/monitoring/grafana/custom.ini:/etc/grafana/grafana.ini:ro
      - ./infrastructure/monitoring/grafana/provisioning:/etc/grafana/provisioning:ro
      - grafana_data:/var/lib/grafana
      - ./infrastructure/monitoring/grafana/provisioning/dashboards:/var/lib/grafana/dashboards:ro
    environment:
      - GF_PATHS_CONFIG=/etc/grafana/grafana.ini
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    networks:
      - transcendence_network
    depends_on:
      - prometheus
    restart: always

volumes:
  redis_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/redis
      o: bind

  grafana_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/grafana
      o: bind

  prometheus_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/prometheus
      o: bind

  frontend_dist:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/frontend
      o: bind

  auth_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/auth
      o: bind

  # game_data:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     device: ${HOME}/data/game
  #     o: bind

  # chat_data:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     device: ${HOME}/data/chat
  #     o: bind

  user_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/user
      o: bind

  user_avatars:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/user/avatars
      o: bind

networks:
  transcendence_network:
    driver: bridge

secrets:
  redis_password:
    file: ../secrets/redis_password.txt
  jwt_secret:
    file: ../secrets/jwt_secret_example.txt
  internal_api_key:
    file: ../secrets/internal_api_key.txt
  google_client_id:
    file: ../secrets/google_client_id.txt
  google_client_secret:
    file: ../secrets/google_client_secret.txt
  ssl_certificate:
    file: ../secrets/ssl_certificate.pem
  ssl_private_key:
    file: ../secrets/ssl_private_key.key
  cloudflare_tunnel_token:
    file: ../secrets/cloudflare_tunnel_token.txt
  cloudflare_tunnel_credentials:
    file: ../secrets/cloudflare_tunnel_credentials.json
  cloudflare_origin_cert:
    file: ../secrets/cloudflare_origin_cert.pem