# docker-compose.override.yml
services:
  user-service:
    # volumes:
    #   - ./services/user/prisma/user.db:/app/prisma/user.db:rw
    environment:
      - PRISMA_STUDIO=1
      - PRISMA_STUDIO_PORT=5555
    ports:
      - "3004:3004"
      - "5555:5555"  # User service Studio

  # auth-service:
  #   volumes:
  #     - ./services/auth/auth.db:/app/prisma/auth.db:rw
  #   environment:
  #     - PRISMA_STUDIO=1
  #     - PRISMA_STUDIO_PORT=5556
  #   ports:
  #     - "3001:3001"
  #     - "5556:5556"  # Auth service Studio

  # game-service:
  #   volumes:
  #     - ./services/game/game.db:/app/prisma/game.db:rw
  #   environment:
  #     - PRISMA_STUDIO=1
  #     - PRISMA_STUDIO_PORT=5557
  #   ports:
  #     - "3002:3002"
  #     - "5557:5557"  # Game service Studio

  # chat-service:
  #   volumes:
  #     - ./services/chat/chat.db:/app/prisma/chat.db:rw
  #   environment:
  #     - PRISMA_STUDIO=1
  #     - PRISMA_STUDIO_PORT=5558
  #   ports:
  #     - "3003:3003"
  #     - "5558:5558"  # Chat service Studio